<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.B58works">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".settings.visualmods.Homescreen" />
        <activity android:name=".settings.visualmods.Chatscreen" />
        <activity android:name=".settings.visualmods.ContactPicker" />
        <activity android:name=".settings.visualmods.Fabscreen" />
        <activity android:name=".settings.visualmods.grActionbar" />
        <activity android:name=".settings.visualmods.grCallscrbg" />
        <activity android:name=".settings.visualmods.grChatscrbg" />
        <activity android:name=".settings.visualmods.grConpickbg" />
        <activity android:name=".settings.visualmods.grEmojiBG" />
        <activity android:name=".settings.visualmods.grEmojihf" />
        <activity android:name=".settings.visualmods.grGlobalBG" />
        <activity android:name=".settings.visualmods.grGlobalTabs" />
        <activity android:name=".settings.visualmods.grLeftBubble" />
        <activity android:name=".settings.visualmods.grRightBubble" />
        <activity android:name=".settings.visualmods.grStatusscrbg" />
        <activity android:name=".settings.visualmods.Themescreen" />
        <activity android:name=".settings.visualmods.Universal" />
        <activity android:name=".settings.visualmods.newSettings" />
        <activity android:name=".settings.textmods.newSettings" />
        <activity android:name=".settings.textmods.Chatscreen" />
        <activity android:name=".settings.textmods.Choosers" />
        <activity android:name=".settings.textmods.Logscreen" />
        <activity android:name=".settings.About" />
        <activity android:name=".settings.textmods.Homescreen" />
        <activity android:name=".settings.textmods.Mediamods" />
        <activity android:name=".Privacy" />
        <activity android:name="com.whatsapp.architjn.ui.activity.IconChoose" />
        <activity android:name="com.whatsapp.plus.ReadLogFile" />
    </application>
</manifest>
